{% extends "base.html" %} {% load static %} {% load humanize %}

{% block head %}
{% comment %} <link rel="stylesheet" href="{% static "css/bookshelves/bookshelf-index.css" %}"> {% endcomment %}
<link rel="stylesheet" href="{% static "css/books/book-index.css" %}">
{% endblock head %}

{% block content %}
<div class="container">
    <section class="page-header">
        <h1>All Bookshelves</h1>
        <a href="{% url "bookshelf-create" %}" class="btn warn">Add a Bookshelf</a>
    </section>

    <div>
        <form action="{% url "bookshelf-index" %}" method="GET">
            <div class="filter-buttons">
                {% for bookshelf in bookshelves %}

                    <button type="submit" name="bookshelf" value="{{bookshelf.id}}" 
                        class="{% if bookshelf.id == active_bookshelf %} btn warn {% else %} btn success {% endif %}">
                        {{bookshelf.name}} ({{bookshelf.book_set.count}})
                    </button>

                {% endfor %}
            </div>
        </form>
    </div>

    <hr>

    <div class="card-container">
        {% for book in books %}
            <div class="card">
                <a href="{% url "book-detail" book.id %}">
                    <div class="card-content">
                        <div class="card-img-container">
                                <img class="card-img" src={{book.thumbnail}} alt={{book.title}}>
                        </div>

                        <h2 class="card-title">{{book.title}}</h2>
                        <p>{{book.author}}</p>
                        <p>added {{book.date_added | naturaltime }}</p>
                    </div>
                </a>
                
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}