{% extends "base.html" %}
{% load static %} {% load humanize %}

{% block head %}
<link rel="stylesheet" href="{% static "css/books/book-index.css" %}">
{% endblock head %}

{% block content %}
<div>
    <div class="page-header">
        <h1>My Books</h1>
    </div>

    <div>
        <form action="{% url "book-index" %}" method="GET">
            {% csrf_token %}
            
            {{form.search.label_tag}} {{form.search}}
            {{form.status.label_tag}} {{form.status}}
            {{form.genre.label_tag}} {{form.genre}}
            <button type="submit" class="btn success">Search</button>
        </form>
    </div>

    <hr>

    <div class="card-container">
        {% for book in books %}
            <div class="card">
                <a href="{% url "book-detail" book.id %}">
                    <div class="card-content">
                        <div class="card-img-container">
                                <img class="card-img" src={{book.thumbnail}} alt={{book.title}}>
                        </div>

                        <h2 class="card-title">{{book.title}}</h2>
                        <p>{{book.author}}</p>
                        <p>added {{book.date_added | naturaltime }}</p>
                    </div>
                </a>
                
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}

