{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "css/books/book-index.css" %}">
{% endblock head %}

{% block content %}
<div>
    <div class="page-header">
        <h1>Reading Status</h1>
    </div>

    <div>
        <form action="{% url "book-index-status" %}" method="GET">
            <div class="status-buttons">
                {% for status_value, status_label in form.fields.status.choices %}
                    {% if status_value %}
                        <button type="submit" name="status" value="{{status_value}}" 
                            class="{% if active_status == status_value %} btn warn {% else %} btn success {% endif %}">
                            {{status_label}}
                        </button>
                    {% endif %}
                {% endfor %}
            </div>
            
        </form>
    </div>

    <hr>

    <div class="card-container">
        {% for book in books %}
            <div class="card">
                <a href="{% url "book-detail" book.id %}">
                    <div class="card-content">
                        <div class="card-img-container">
                                <img class="card-img" src={{book.thumbnail}} alt={{book.title}}>
                        </div>

                        <h2 class="card-title">{{book.title}}</h2>
                        <p>{{book.author}}</p>
                        <p>added {{book.date_added}}</p>
                    </div>
                </a>
                
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}

