{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" type="image/png" href="" />

        <link rel="stylesheet" href="{% static "css/base.css" %}">
        <title>Bookkeeprz</title>

        {% block head %} 
        {% endblock %}
    </head>
    <body>
        <header>

        <div class="header-logo-container">
            <a href="/">
            <img src="" alt="" />
            </a>
        </div>

        <nav>
            <ul>
            <li><a href="{% url "book-index" %}">Search Books</a></li>
            <li><a href="{% url "book-index-status" %}">Currently reading</a></li>
            <li><a href="{% url "journal-index-all" %}">Reading Journal</a></li> 
            <li><a href="{% url "book-create" %}">Add a book</a></li>
            <li><a href="{% url "bookshelf-index" %}">Bookshelves</a></li>
            <li><a href="{% url "about" %}">About</a></li>
            </ul>
        </nav>

        </header>

        <main>
        {% block content %} 
        {% endblock %}
        </main>
    </body>
</html>
