{% extends "base.html" %} {% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "css/books/book-form.css" %}">
{% endblock head %}

{% block content %}
<div class="container">
    <div class="page-header">
        {% if journal %}
        <h1>Edit {{journal.title}}</h1>
        {% else %}
        <h1>Add Journal Entry</h1>
        {% endif %}
        
        <img src="{% static "images/8610424_5946.jpg" %}" alt="Books img">
    </div>

    <form action="" method="post" class="form-container">
        {% csrf_token %}

        
        {{form.as_table}}
        

        <button type="submit" class="btn submit">
            {% if journal %} Save {% else %} Add Journal {% endif %} 
        </button>
    </form>
</div>
{% endblock content %}